* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  background-image: url('https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  background: #e5e5e5;
}

.nav {
  display: flex;
  background: red;
  align-items: center;
  justify-content: center;
  width: 550px;
  margin: auto;
  height: 55px;
  border-radius: 5px 5px 0 0;
  box-shadow: 11px 1px 33px #333;
}

.nav h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.img-globe {
  width: 25px;
  margin-right: 11px;
  border-radius: 50%;
}

.card {
  background: white;
  width: 550px;
  display: flex;
  margin: auto;
  justify-content: center;
  box-shadow: 11px 33px 22px #333;
  padding: 25px 0;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  margin-right: 19px;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-info img {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

.location-info h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.location-info h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  margin: 5px;
}

.dates {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
  margin-top: 18px;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.description {
  width: 325px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
  margin-top: 9px;
}
