* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  background-image: url('https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.nav {
  display: flex;
  background: red;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
  height: 33px;
  width: 75vw;
  box-shadow: 11px 1px 33px #333;
  border-radius: 5px;
}

.nav h2 {
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  font-size: 1rem;
}

.img-globe {
  width: 25px;
  margin-right: 11px;
  border-radius: 50%;
}

.card {
  background: white;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 11px #333;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 3px;
}

.main-image {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 5px;
  background-color: red;
  background-blend-mode: multiply;
  border: 2px solid lightgray;
}

.location-info img {
  width: 33px;
  height: 33px;
}

.location-info h2 {
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  margin: 5px;
}

.location-info:hover {
  cursor: pointer;
}

.dates {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 12px;
  color: #2b283a;
  margin: 1em;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
  color: #2b283a;
  font-style: italic;
}

.description {
  width: 55%;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 150%;
  color: #2b283a;
  margin: 11px auto;
}

@media (min-width: 645px) {
  .nav {
    max-width: 777px;
  }
  .card {
    max-width: 777px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0.8em;
  }
  .main-image {
    border-radius: 5px;
    margin-left: 3em;
    margin-bottom: 0;
  }
  .nav h2 {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.7rem;
  }
}
